.userInfoContainer {
  @apply px-2 flex justify-between;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.userInfoType {
  @apply text-xs font-jost relative mb-2;
}

.balanceHeading {
  @apply text-xs  font-jost text-profile-blue-50;
  margin-bottom: 8px;
}

.balance {
  @apply font-jost font-bold;
  font-size: 32px;
  /* color: black; */
}

.uploadBtn,
.downloadBtn {
  @apply rounded-full bg-blue-500 p-2 cursor-pointer;
  font-size: 24px;
  margin: 8px;
}

.iconButtonsContainer {
  @apply flex justify-around;
}

.userSocialContainer {
  /* @apply grid gap-x-2 grid-cols-2; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.userSocialContainer section {
  @apply text-center;
}
.userSocialContainer h3 {
  @apply text-lg;
}
.userSocialContainer p {
  @apply text-xs text-profile-blue-50;
}

.userSocialItemType {
  @apply text-lg;
  color: red;
}

.walletContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 0px 16px; */
  margin-top: 24px;
}

.wallet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(29 35 45);
  border-radius: 48px;
  padding: 8px 12px 8px 24px;
}
