.main {
  @apply bg-profile-blue-400 h-full w-full p-4 flex flex-col items-center;
  overflow-y: scroll;
  padding: 0px 240px;
}

@media only screen and (max-width: 1000px) {
  .main {
    padding: 0px;
  }
}
