.fader {
    height: 300px;
    position: relative;
    overflow: hidden;
}

.fader__slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.fader {
    background-color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
