.text {
  @apply font-work-sans text-profile-blue-100 tracking-wider font-medium pl-4 pr-2;
  font-size: 24px;
}
.itemContainer {
  @apply bg-profile-blue-300 rounded-3xl pl-4 pr-2 py-8  flex items-center gap-2;
}

.imageContainer {
  @apply place-items-center rounded-xl;
  position: relative;
  height: 50px;
  width: 50px;
  background: #202020;
}

.img {
  @apply rounded-xl;
}
